@if (processando) {
	<div class="loading">Loading&#8230;</div>
}

<div class="container-fluid">
	<div class="tabela" >
	   <form>
		<div class="callout callout-pesquisa">
			<div class="row">
				<div class="col-12">
					<b>Tabela de Professores</b>
				</div>
			</div>		
		  <div class="row mb-2">
			 <div class="col-3">
				<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisar:</label>
				<input	id="table-complete-search"	type="text"	class="form-control" name="searchTerm" #campoPesquisa [(ngModel)]="searchTerm" (ngModelChange)="pesquisar()"	/>
			 </div>
			 <div class="col-3" >
				<div class="espacoEmBranco">&nbsp;&nbsp;</div>
				<!--button type="button" class="btn btn-outline-primary" (click)="openModal(content, '')">Novo</button>&nbsp;&nbsp;&nbsp;&nbsp;-->
				<a class="btn btn-outline-primary" (click)="openModal(null)">Novo </a>&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-primary" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-success" (click)="exportexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
			 </div>
			 <div class="col-3" >
			</div>
			 <div class="col-3 justify-content-end" >
				<div class="d-flex justify-content-end">
					<div class="alert alert-secondary mt-15" role="alert">
						Total de Registros localizados : <b>{{paginacao.total}}</b>
					</div>
				</div>
	
			 </div>			 
		  </div>
		  </div>
		  <div class="row">
			<div class="col-md-12">
			   @for (alert of alerts; track alert) {
			   <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
			   }
			</div>
		 </div>
   
		  <hr>
		  <table class="table table-striped" id="excel-table">
			 <thead>
				<tr >
				   <th scope="col">Matricula</th>
				   <th scope="col">Nome</th>
				   <th scope="col">Telefone</th>				   
				   <th scope="col">Celular</th>
				   <th scope="col">E-mail</th>
				   <th scope="col">Status</th>
				   <th scope="col">Obs</th>
				</tr>				
			 </thead>
			 <tbody>

				<tr (click)="openModal(e.id)" *ngFor="let e of lista">
					<td>
						<ngb-highlight class="textoTabela" [result]="e.matricula" [term]="searchTerm" />
					</td>	
				   <td>
						<ngb-highlight class="textoTabela" [result]="e.nome" [term]="searchTerm" />
				   </td>
				   <td>
						<ngb-highlight class="textoTabela" [result]="e.tel1" [term]="searchTerm" />
				   </td>
				   <td>
						<ngb-highlight class="textoTabela" [result]="e.tel2" [term]="searchTerm" />
					</td>
					<td>
						<ngb-highlight class="textoTabela" [result]="e.email" [term]="searchTerm" />
				   </td>
				   <td>
						<span [hidden]="e.flg_ativo != 'S'">Ativo</span> 
					</td>
					<td>
						<ngb-highlight class="textoTabela" [result]="e.obs" [term]="searchTerm" />
				   </td>
				</tr>
			 </tbody>
		  </table>
		  <div class="d-flex justify-content-between p-2">
			 <ngb-pagination [collectionSize]="(paginacao.total)!" [(page)]="paginacao.page" [pageSize]="paginacao.pageSize" (pageChange)="pesquisar()">
			 </ngb-pagination>
			 <select class="form-select-sm" style="width: auto" name="pageSize" [(ngModel)]="paginacao.pageSize" >
			 <option [ngValue]="100">100 itens por página</option>
			 <option [ngValue]="250">250 itens por página</option>
			 <option [ngValue]="500">500 itens por página</option>
			 </select>
		  </div>
	   </form>
	</div>