<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <div class="row p-5">
        <div class="col-3">
          <img src="img/logo.png" class="img-fluid logo" id="icon" alt="User Icon" />
        </div>
        <div class="col-9">
          <h3 class="fadeIn second">Area do Associado</h3>
        </div>

    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="usuario.userName" id="userName"  matInput mask="000.000.000-00" [dropSpecialCharacters]="false"  #campoInicial id="login" class="fadeIn second" name="login" placeholder="CPF"  autocomplete="off">
      <input type="password" [(ngModel)]="usuario.password" id="password" class="fadeIn third" name="login" placeholder="Senha">
      <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Recuperar Senha?</a>
    </div>

  </div>
</div>