<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!--img src="/img/logo.png" alt="Logo" width="40" class="user-photo" -->Clube Minas Brasília
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu 1</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Submenu 1-1</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Submenu 1-2</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Submenu 1-2-1</a></li>
                                <li><a class="dropdown-item" href="#">Submenu 1-2-2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Menu 2</a></li>
            </ul>
            <div class="dropdown">
                <img src="{{getPathFotoUserLogin()}}" alt="Usuário" class="user-photo" data-bs-toggle="dropdown">
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Nome: João Silva</a></li>
                    <li><a class="dropdown-item" href="#">Email: joaoail.com</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="#">Sair</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>