@if (processando) {
   <div class="loading">Loading&#8230;</div>
}
   <div class="modal-header bg-success">
      <h4 class="modal-title" id="modal-basic-title">
         <i class="fa fa-usd" aria-hidden="true"></i>
         - Financeiro -> Baixa Coletiva por Atividade
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
   <!-- TABS DETALHES-->
   <div class="callout callout-cobranca">
      <nav>
         <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" [disabled]="fase==2" id="nav-T1-tab" data-bs-toggle="tab" data-bs-target="#nav-T1" type="button" role="tab" aria-controls="nav-T1" aria-selected="true"><i class="fa fa-user"></i> - Cobrança</button>
            <button class="nav-link" [disabled]="fase==1" id="nav-T2-tab" data-bs-toggle="tab" data-bs-target="#nav-T2" type="button" role="tab" aria-controls="nav-T2" aria-selected="false"><i class="fa fa-id-card" aria-hidden="true"></i> - Associados/Alunos </button>
         </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
         <!-- COBRANCA -->
         <div class="tab-pane fade show active" id="nav-T1" role="tabpanel" aria-labelledby="nav-T1-tab">
               <div class="row" >
                  <div class="col-md-2">
                     <label class="form-label">Mes/Ano</label>
                     <input [(ngModel)]="baixa_coletiva_atividade.ano_mes" #campoInicial id="ano_mes" type="text" mask="M0/0000" [dropSpecialCharacters]="false" class="form-control form-control-sm" />
                  </div>
                  <div class="col-md-2">
                     <label class="form-label">Data Baixa:</label>
                     <input [(ngModel)]="baixa_coletiva_atividade.data"  type="text" mask="d0/M0/0000" [dropSpecialCharacters]="false" class="form-control form-control-sm" />
                  </div>
                  <div class="col-md-6">
                     <label class="form-label">Cobrança/Categoria</label>
                     <div class="form-group input-group">
                        <select [(ngModel)]="baixa_coletiva_atividade.idcobranca" id="idcobranca" type="text" #campoInicial class="form-control form-control-sm form-select-sm" (change)="atualizarListaCategorias()">
                        <option *ngFor="let t of listaTipoCobranca" [value]="t.id">{{ t.descricao }}</option>
                        </select> &nbsp;&nbsp;&nbsp;&nbsp;
                        <select [(ngModel)]="baixa_coletiva_atividade.idcategoria" id="idcategoria" type="text" class="form-control form-control-sm" (change)="atualizarValor()">
                        <option value=""></option>
                        <option *ngFor="let t of listaCategorias" [value]="t.id">{{ t.descricao }}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-2">
                     <label class="form-label">Valor</label>
                     <input [(ngModel)]="baixa_coletiva_atividade.valor" type="text" matInput prefix="R$ " mask="separator,2" thousandSeparator="."  class="form-control form-control-sm"/>
                  </div>
               </div>
         </div>
         <!-- FIM COBRANCA -->
         <!-- DADOS ALUNO -->
         <div class="tab-pane fade show" id="nav-T2" role="tabpanel" aria-labelledby="nav-T2-tab">
            <!--div class="callout callout-atividade">
               <div class="row" >
                  <div class="col-md-12">
                     <label class="form-label">Atividade/Turma:</label>
                     <div class="form-group input-group">
                        <select [(ngModel)]="baixa_coletiva_atividade.idatividade" type="text"  class="form-control form-control-sm form-select-sm" (change)="atualizarListaTurmas()">
                        <option *ngFor="let t of listaAtividades" [value]="t.id">{{ t.descricao }}</option>
                        </select>&nbsp;&nbsp;&nbsp;&nbsp;
                        <select [(ngModel)]="baixa_coletiva_atividade.idturma" type="text" class="form-control form-control-sm form-select-sm" (change)="atualizarListaAlunos()">
                        <option value=""></option>
                        <option *ngFor="let t of listaTurmas" [value]="t.id">{{ t.descricao }}</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div-->
               <div class="callout callout-pesquisa">
                  <div class="row" >
                     <div class="col-md-5">
                        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Pesquisar:</label>
                        <input	id="table-complete-search"	type="text"	class="form-control" name="searchTerm" #campoPesquisa [(ngModel)]="searchTerm" (ngModelChange)="pesquisar()" (keydown.enter)="selecionar(listaAlunos[0]); searchTerm = ''; pesquisar() "	/><br>
                     </div>
                     <div class="col-md-3">
                        <label class="form-label">			 
                           <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" #checkBox_estado [checked]="listarSomenteDebitos == 'S'" (change)="refresh()"/>
                              <label class="form-check-label" for="flexCheckChecked">	Somente não baixados</label>
                           </div>
                        </label><br>
                     </div>

                     <div class="col-md-4">
                        <p class="text-end texto-total">
                           Qtd. Alunos: {{listaAlunos.length}}<br>
                           Selecionados: {{getQtdAlunosSelecionados()}}
                        </p>
                     </div>
                  </div>
               </div>
               <div [hidden]="listaAlunos.length <= 0" class="modal-footer">
                  <!--button type="button" class="btn btn-outline-danger" [hidden]="modoLeitura || id == null" (click)="excluir()">EXCLUIR</button>      
                     <button type="button" class="btn btn-outline-primary" [hidden]="!modoLeitura" (click)="editar()">EDITAR</button-->      
                  <button type="button" [hidden]="fase == 1" class="btn btn-primary"  (click)="proximo(1)">Anterior</button>                        
                  <button type="button" [hidden]="fase == 2" class="btn btn-primary"  (click)="proximo(2)">Proximo</button>            
                  <button type="button" [hidden]="fase == 1"class="btn btn-success"  (click)="salvar()">Efetivar Baixa</button>
                  <button type="button" [hidden]="fase == 1"class="btn btn-secondary"  (click)="gerarPDF()">Comprovante</button>
                  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Sair</button>
               </div>
               <table class="table table-striped tabelasAlunos" id="excel-table">
                  <thead>
                     <tr >
                        <th scope="col">Nome</th>
                        <th [hidden]="listarSomenteDebitos == 'S'"  scope="col">Status</th>
                        <th [hidden]="listarSomenteDebitos == 'S'" scope="col">Dt. Baixa</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr (click)="selecionar(e)" *ngFor="let e of listaAlunos">
                     <td [ngClass]="getNomesCSSAlunoStatus(e)">
                        <p class="list-group-item" [hidden]="! e.selecionado"><i  class="fa fa-check-square text-success" aria-hidden="true"></i>&nbsp; <ngb-highlight class="textoTabelaSelecionado" [result]="getNomeAluno(e)" [term]="searchTerm" /></p>
                        <p class="list-group-item" [hidden]="e.selecionado"><ngb-highlight class="textoTabela" [result]="getNomeAluno(e)" [term]="searchTerm" /></p>
                     </td>
                     <td [ngClass]="getNomesCSSAlunoStatus(e)" [hidden]="listarSomenteDebitos == 'S'">
                        <ngb-highlight class="textoTabela" [result]="getStatus(e)" [term]="searchTerm" />
                     </td>
                     <td [ngClass]="getNomesCSSAlunoStatus(e)" [hidden]="listarSomenteDebitos == 'S'">
                        <ngb-highlight class="textoTabela" [result]="e.dtpag" [term]="searchTerm" />
                     </td>

                     </tr>
                  </tbody>
               </table>

         </div>
         <!-- FIM DADOS ALUNO -->
      </div>
   </div>
   <!-- FIM TAB DETALHES-->
   <div  class="modal-footer">
      <button [hidden]="listaAlunos.length <= 0"  type="button" [hidden]="fase == 1" class="btn btn-primary"  (click)="proximo(1)">Anterior</button>                        
      <button type="button" [hidden]="fase == 2" class="btn btn-primary"  (click)="proximo(2)">Proximo</button>            
      <button [hidden]="listaAlunos.length <= 0"  type="button" [hidden]="fase == 1"class="btn btn-success"  (click)="salvar()">Efetivar Baixa</button>
      <button [hidden]="listaAlunos.length <= 0"  type="button" [hidden]="fase == 1"class="btn btn-secondary"  (click)="gerarPDF()">Comprovante</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Sair</button>
</div>
   