
    <div class="modal-body">

        <div class="callout callout-pesquisa">
            <div class="row" >
                <div class="col-md-12">
                    <div class="alert alert-primary" role="alert">
                        Selecione uma das opções abaixo para a impressão:
                      </div>
                </div>
               <div class="col-md-6">
                    <p class="text-center">
                        <button type="button" class="btn btn-outline-primary" (click)="clickBotao('N')">Analítico</button>
                    </p>
                    
                </div>
                <div class="col-md-6">
                    <p class="text-center">
                        <button type="button" class="btn btn-outline-primary" (click)="clickBotao('S')">Sintético</button>
                    </p>       
                </div>
</div>
   </div>
