@if (processando) {
	<div class="loading">Loading&#8230;</div>
}

<section class="vh-100 primary">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
              <div class="text-center">              
                  <img src="assets/img/logo.png" class="logo"> 
                  <h3 class="mb-5">LOGIN IN</h3>
               </div> 
               @for (alert of alerts; track alert) {
                <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
              }	   
              <div class="form-outline mb-4 text-left">
                <label class="form-label" for="typeEmailX-2">Usuário</label>
                <input [(ngModel)]="usuario.userName" id="userName" #campoInicial type="text" class="form-control form-control-sm" />
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Senha</label>                
                <input [(ngModel)]="usuario.password" id="password" type="password" class="form-control form-control-sm" (keydown.enter)="login()"/>
              </div>
  
              <!--asl-google-signin-button type='standard' class="btn" size='medium'></asl-google-signin-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-->
              <button class="btn btn-outline-primary btn-sm"  (click)="login()">Login</button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>