@if (processando) {
	<div class="loading">Loading&#8230;</div>
}

<div class="container-fluid" id="contentToConvert">

	<div class="callout callout-pesquisa">
		<div class="row">
		   <div class="col-12">
			  <span class="badge bg-dark fw-bold ">Relatorio -> Associados -> Convenio:</span>
		   </div>
		</div>
		<div class="row">
		 <div class="col-md-9">
			 <div class="row">
				 <div class="col-md-auto">
					<label class="form-label">Convênio:</label>
						<select [(ngModel)]="filtro.convenio" type="text" #campoInicial class="form-control form-control-sm form-select-sm" (change)="refresh()">
							<option value=""></option>
							<option *ngFor="let t of listaConvenios" [value]="t.descricao">{{ t.descricao }}</option>
						</select>
				  </div>
				 <div class="col-md-3">
					<br>
					<!--button type="button" class="btn btn-outline-primary" (click)="openModal(content, '')">Novo</button>&nbsp;&nbsp;&nbsp;&nbsp;-->
					<button type="button" class="btn btn-outline-primary btn-sm" (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-outline-success btn-sm" (click)="exportexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-outline-danger btn-sm" (click)="gerarPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;				   
				 </div>
			  </div>
		 </div>
		 <div class="col-md-2 offset-md-1" [hidden]="listaRelOriginal == undefined || listaRelOriginal.length <= 0 ">
			 <div class="row">
				 <div class="col-12">
					<p class="text-end">Total encontrados : <b>{{paginacao.total}}</b></p>
					<input	type="text"	class="form-control form-control-sm" name="searchTerm" #campoPesquisa [(ngModel)]="searchTerm" (ngModelChange)="filtrar()"/>
				 </div>
			  </div>
		 </div>
	   </div>		
	 </div>


	<div class="tabela" >
	   <form>
		  <hr>
		  <table class="table table-striped" id="excel-table">
			 <thead>
				<tr >
				   <th>Convenio</th>
				   <th>Campo Extra ASC Club (Atual)</th>
				   <th>Campo Extra ASC Club (Anterior)</th>
				   <th >Nome</th>
				   <th></th>				   
				</tr>				
			 </thead>
			 <tbody>

				<tr  *ngFor="let l of listaRel" (click)="openModal(l)">
					<td>
						<ngb-highlight class="textoTabela" [result]="l.convenio" [term]="searchTerm" />
					</td>	
					<td>
						<ngb-highlight class="textoTabela" [result]="l.spd" [term]="searchTerm" />
					</td>	
					<td>
						<ngb-highlight class="textoTabela" [result]="l.extra" [term]="searchTerm" />
					</td>	
					<td>
						<ngb-highlight class="textoTabela" [result]="l.nome" [term]="searchTerm" />
					</td>	
				</tr>
			 </tbody>
		  </table>
		  <div class="d-flex justify-content-between p-2">
			 <ngb-pagination [collectionSize]="(paginacao.total)!" [(page)]="paginacao.page" [pageSize]="paginacao.pageSize" (pageChange)="filtrar()">
			 </ngb-pagination>
			 <select class="form-select-sm" style="width: auto" name="pageSize" [(ngModel)]="paginacao.pageSize">
			 <option [ngValue]="100">100 itens por página</option>
			 <option [ngValue]="250">250 itens por página</option>
			 <option [ngValue]="500">500 itens por página</option>
			 </select>
		  </div>
	   </form>
	</div>