@if (processando) {
    <div class="loading">Loading&#8230;</div>
    }
    <div class="modal-header bg-secondary">
       <h4 class="modal-title" id="modal-basic-title">
          <i class="fa fa-text-width" aria-hidden="true"></i>
           - Atividade
       </h4>
       <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    
    <div class="modal-body">
                   <div class="row">
                      <div class="col-md-12">
                         @for (alert of alerts; track alert) {
                         <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                         }
                      </div>
                   </div>
                   <div class="row">
                      <div class="callout callout-info">
                        <div class="row g-2" >
                            <div class="col-md-6">
                               <label class="form-label">Nome</label>
                               <input [(ngModel)]="atividade.nome" type="text" #campoInicial class="form-control form-control-sm" [disabled]="modoLeitura" />
                            </div>
                            <div class="col-md-4">
                               <label class="form-label">Obs</label>
                               <input [(ngModel)]="atividade.obs" type="text" class="form-control form-control-sm" [disabled]="modoLeitura" />
                            </div>
                            <div class="col-md-2">
                              <label class="form-label">Status</label>
                              <div class="form-check">
                                 <input class="form-check-input" type="checkbox" value="" #checkBox_estado [checked]="atividade.estado == 'A'" [disabled]="modoLeitura"/>
                                 <label class="form-check-label" for="flexCheckChecked">
                                     Ativo 
                                 </label>
                             </div>
                            </div>

                         </div>

                      </div>
                      <!-- TABS DETALHES-->
                      <div class="callout callout-detalhes">
                         <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                               <button class="nav-link active" id="nav-D1-tab" data-bs-toggle="tab" data-bs-target="#nav-D1" type="button" role="tab" aria-controls="nav-D1" aria-selected="true"><i class="fa fa-user"></i> - Turmas</button>
                            </div>
                         </nav>
                         <div class="tab-content" id="nav-tabContent">
                            <!-- TURMAS -->
                            <div class="tab-pane fade show active" id="nav-D1" role="tabpanel" aria-labelledby="nav-D1-tab">
                               <div class="row g-2 callout callout-tab">
                                 <table class="table table-striped">
                                    <thead>
                                       <tr class="tituloTabela">
                                          <th scope="col">Turma</th>
                                          <th scope="col">Valor Sócio</th>
                                          <th scope="col">Valor Não Sócio</th>
                                          <th scope="col">Inicio</th>
                                          <th scope="col">Termino</th>
                                          <th scope="col">Professor</th>
                                          <th scope="col">Estado</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let a of atividade.listaTurmas" (click)="openModalTurma(a.id)">
                                          <td>{{a.nome}}</td>
                                          <td>{{a.vr_socio | currency:'BRL':true:'1.2-2'}}</td>
                                          <td>{{a.vr_nao_socio | currency:'BRL':true:'1.2-2'}}</td>
                                          <td>{{a.dt_ini}}</td>                                          
                                          <td>{{a.dt_fim}}</td>
                                          <td>{{a.professor_nome}}</td>
                                          <td>{{a.estado}}</td>
                                       </tr>
                                    </tbody>
                                 </table>
                                    <div class="col-auto me-auto"></div>
                                    <div class="col-auto">
                                       <a class="btn btn-outline-primary" (click)="openModalTurma(null)">Nova Turma</a>                                          
                                    </div>
                                 </div>
                            </div>
                            <!-- FIM DADOS TURMA -->
                         </div>
                      </div>
                      <!-- FIM TAB DETALHES-->
                   </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" [hidden]="modoLeitura || id == null" (click)="excluir()">EXCLUIR</button>      
      <button type="button" class="btn btn-outline-primary" [hidden]="!modoLeitura" (click)="editar()">EDITAR</button>      
      <button type="button" class="btn btn-outline-success" [hidden]="modoLeitura" (click)="salvar()">SALVAR</button>
      <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">SAIR</button>
    </div>
    